    <div class="container-fluid mt-5 ms-5">
    <div class="row justify-content-center">
        <div class="col-5 formulario">
            <h2 class="text-center">Registro</h2>
            <form id="formRegistro">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Email</label>
                    <input type="text" class="form-control" id="correo" placeholder="Ingrese su email">
                </div>
                <div class="mb-3">
                    <label for="contraseña" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="contraseña" placeholder="Ingrese su contraseña">
                </div>
                 <div class="mb-3">
                    <label for="contraseña" class="form-label">Verificar contraseña</label>
                    <input type="password" class="form-control" id="contraseña2" placeholder="Ingrese su contraseña">
                </div>
                <div class="mb-3">    
                    <label for="fecha" class="form-label">Fecha de nacimiento</label>
                    <input type="text" class="form-control" id="datepicker" placeholder="Selecciona una fecha">
                </div>
                <div class="mt-5 d-flex justify-content-center">
                    <button type="submit" class="boton_enviar">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div> 



