<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="menu.css">
     <link rel="stylesheet" href="contacto.css">
</head>
<body>
    <div class="contacto">
    {{>menu}}
 <article>
       <h1>Preguntas frecuentes</h1>
    </article>
    <section>
        <h2>¿Cuanto cuesta la entrada?</h2>
        <ul>$290</ul>
        <h2>¿A partir de qué edad pagan los menores?</h2>
        <ul>Desde los tres años o siempre que utilicen un asiento.</ul>
        <h2>¿Hay 2×1?</h2>
        <ul> Si, Con tarjeta MiDinero, BROU (Visa y Mastercard). Además con PassCard tienes 50% de descuento en tickets, pop y bebida.</ul>
        <h2>¿Desde que hora puedo comprar la entrada?</h2>
        <ul> Desde 30 minutos antes de la primer función del día y siempre que estemos exhibiendo. Puedes comprar entradas para cualquier función del fin de semana.</ul>
        <h2> ¿Menor de la edad apta puede entrar?.</h2>
        <ul>Si, siempre que venga acompañado por Madre, Padre o tutor legal.</ul>
    </section>

    <article>
        <h1>Direccion:</h1>
        <h3>Dr.Herrera 639(Melo-Cerro Largo)</h3>
        <h1> Telefono de contacto:</h1>
        <h3>091418117</h3>
    </article>


    <script src="js/bootstrap.min.js"></script>
</div>
</body>
</html>